<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pong Rankings</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/app.css" />
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <h1 class="brand">Pong Rank</h1>
      <ul class="nav">
        <li><a href="/">Ladder</a></li>
        <li><a href="/results">Results</a></li>
        <li><a href="/result">Add a Result</a></li>
      </ul>
    </div>
  </div>
</div>

  <div class="container">
  {% block body %}

  {% endblock %}
  </div>
</body>
</html>
